body {
    margin: 0 auto;
    text-align: center;
    background: pink;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
header {
    max-width: 1170px;
    margin: 0 auto;
}
.logo {
    float: left;
    width: 50px;
    height: 50px;
}
.logo img {
    width: 50px;
    height: 50px;
}
.calendar {
    float: right;
}
.event {
    float: left;
}
.metodical {
    float: right;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}