body {
    margin: 0 auto;
    text-align: center;
    background: #f3f3f3;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.logo {
    float: left;
    width: 70px;
    height: 70px;
    margin: 10px 0 0 10px;
}
.logo img {
    width: 100%;
    height: 100%;
}
.calendar {
    float: right;
    margin-top: 35px;
}
.calendar a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-right: 10px;
}
.event {
    float: left;
}
.metodical {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
}
li a {
    text-decoration: none;
    display: block;
    width: 75px;
    color: #333;
}
li a::first-letter {
    text-transform: uppercase;
}
li img {
    height: 30px;
    width: 30px;
}
nav {
    float: left;
}
.social {
    float: right;
}
.banner1 {
    height: 600px;
    background-image: url(../img/slider4.jpg);
    background-size: cover;
    background-position: center bottom;
}
